<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../includes/header.ejs') %>
</head>

<body>
  <%- include('../includes/nav.ejs') %>
  <main class="container">
    <%- include('../includes/messages.ejs') %>
    <div class="text-center">
      <h1>Password Reset</h1>
      <h5>We will send you a password reset email.</h5>
    </div>
    <form action="/auth/reset-password" method="POST">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="email" name="email" id="email" placeholder="Enter email...">
      </div>
      <div class="text-center">
        <button class="btn btn-dark" type="submit">Send Email</button>
      </div>
    </form>
  </main>
  <%- include('../includes/footer.ejs') %>
</body>

</html>