<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../includes/header.ejs') %>
</head>

<body>
  <div class="super-container">
    <%- include('../includes/nav.ejs') %>
    <main class="container">
      <%- include('../includes/messages.ejs') %>
      <div class="form-container">
        <h1>Password Reset</h1>
        <h5>We will send you a password reset email.</h5>
        <form action="/auth/reset-password" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Enter email...">
          </div>
          <button type="submit">Send Email</button>
        </form>
      </div>
    </main>
    <%- include('../includes/footer.ejs') %>
  </div>
</body>

</html>