<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../includes/header.ejs') %>
</head>

<body>
  <div class="super-container">
    <%- include('../includes/nav.ejs') %>
    <main class="container">
      <%- include('../includes/messages.ejs') %>
      <div class="form-container">
        <form action="/auth/signup" method="POST" novalidate>
          <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
          <h1>Sign Up</h1>
          <div class="form-group">
            <label for="name">Name</label>
            <input class="<%= validationErrors.find(e => e.param === 'name') ? 'invalid' : '' %>" type="name" name="name"
              id="name" value="<%= name %>">
          </div>
          <div class="form-group">
            <label for="avatar">Avatar Picture</label>
            <input type="file" name="avatar" id="avatar">
            <small>You can set/change this later in account settings...</small>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>" type="email" name="email"
              id="email" value="<%= email %>">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>" type="password"
              name="password" id="password" value="<%= password %>">
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input class="<%= validationErrors.find(e => e.param === 'confirmPassword') ? 'invalid' : '' %>" type="password"
              name="confirmPassword" id="confirmPassword" value="<%= confirmPassword %>">
          </div>
          <button type="submit">Sign up</button>
        </form>
      </div>
    </main>
    <%- include('../includes/footer.ejs') %>
  </div>
</body>

</html>