<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../includes/header.ejs') %>
</head>

<body>
  <%- include('../includes/nav.ejs') %>
  <main class="container">
    <%- include('../includes/messages.ejs') %>
    <a href="/goals/goal-list" class="btn btn-dark mt-3"><small>Back to Goals</small></a>
    <h1 class="text-center">Add Goal</h1>
    <form action="/goals/add-goal" method="POST">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <div class="form-group">
        <label for="goalName">Goal Name</label>
        <input class="form-control" type="text" name="goalName" id="goalName" placeholder="Enter Goal Name...">
      </div>
      <div class="form-group">
        <label for="daysToTrack">Number Of Days To Track</label>
        <input class="form-control" type="number" name="daysToTrack" id="daysToTrack" value="30">
      </div>
      <div class="form-group">
        <label for="backgroundColor">Background Color</label>
        <input class="form-control" type="color" name="backgroundColor" id="backgroundColor" value="#a6aca0">
      </div>
      <div class="text-center">
        <button class="btn btn-dark" type="submit">Add Goal</button>
      </div>
    </form>
  </main>
  <%- include('../includes/footer.ejs') %>
</body>

</html>