<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../includes/header.ejs') %>
</head>

<body>
  <%- include('../includes/nav.ejs') %>
  <main class="container">
    <%- include('../includes/messages.ejs') %>
    <a href="/goals/goal-list" class="btn btn-dark mt-3"><small>Back to Goals</small></a>
    <h1 class="text-center">
      <%= goal.goalName %>
    </h1>
    <canvas id="myChart" width="400" height="400"></canvas>

    <div id="dataDetails"></div>

    <form action="/goals/goal/add-data/<%= goal._id %>" method="POST">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <div class="form-group">
        <label for="hours">Hours Spent</label>
        <input class="form-control" type="number" name="hours" id="hours" value="0">
      </div>
      <div class="text-center">
        <button class="btn btn-dark" type="submit">Submit Hours</button>
      </div>
    </form>
  </main>
  <%- include('../includes/footer.ejs') %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
  <script>
    var ctx = document.querySelector("#myChart").getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: [1500, 1600, 1700, 1750, 1800, 1850, 1900, 1950, 1999, 2050],
        datasets: [{
          data: [86, 114, 106, 106, 107, 111, 133, 221, 783, 2478],
          label: "Africa",
          borderColor: "#3e95cd",
          fill: false
        }, {
          data: [282, 350, 411, 502, 635, 809, 947, 1402, 3700, 5267],
          label: "Asia",
          borderColor: "#8e5ea2",
          fill: false
        }, {
          data: [168, 170, 178, 190, 203, 276, 408, 547, 675, 734],
          label: "Europe",
          borderColor: "#3cba9f",
          fill: false
        }, {
          data: [40, 20, 10, 16, 24, 38, 74, 167, 508, 784],
          label: "Latin America",
          borderColor: "#e8c3b9",
          fill: false
        }, {
          data: [6, 3, 2, 2, 7, 26, 82, 172, 312, 433],
          label: "North America",
          borderColor: "#c45850",
          fill: false
        }
        ]
      },
      options: {
        title: {
          display: true,
          text: 'World population per region (in millions)'
        }
      }
    });
  </script>
</body>

</html>