<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../includes/header.ejs') %>
</head>

<body>
  <%- include('../includes/nav.ejs') %>
  <main class="container">
    <%- include('../includes/messages.ejs') %>
    <a href="/goals/dashboard" class="mt-3 btn btn-dark"><small>Back to Dashboard</small></a>
    <h1 class="text-center">Goals</h1>
    <a href="/goals/add-goal" class="btn btn-dark"><strong>+</strong></a>
    <% goals.forEach((goal) => { %>
    <div class="card mt-3" style="background-color: <%= goal.backgroundColor %>">
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <h4>
              <%= goal.goalName %>
            </h4>
          </div>
          <div class="col-6">
            <form action="/goals/delete-goal" method="POST">
              <button class="btn btn-danger float-right"><i class="fas fa-times"></i></i></button>
              <a class="btn btn-dark float-right mr-3" href="/goals/goal-chart/<%= goal._id %>"><i class="fas fa-chart-line"></i></a>
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <input type="hidden" name="goalId" id="goalId">
            </form>
          </div>
        </div>
      </div>
    </div>
    <% }) %>
  </main>
  <%- include('../includes/footer.ejs') %>
</body>

</html>