<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../includes/header.ejs') %>
</head>

<body>
  <div class="super-container">
    <%- include('../includes/nav.ejs') %>
    <main class="container">
      <%- include('../includes/messages.ejs') %>
      <div class="super-container">
        <a href="/goals/dashboard" class="mt btn"><small>Back to Dashboard</small></a>
        <h1>Goals</h1>
        <a href="/goals/add-goal" class="btn">Add Goal</a>
        <% goals.forEach((goal) => { %>
        <div class="card" style="border-color: <%= goal.borderColor %>; background-color: <%= goal.backgroundColor %>">
          <h4>
            <%= goal.goalName %>
          </h4>
          <p>
            Chart Type:
            <%= goal.chartType %>
          </p>
          <a href="/goals/goal-chart/<%= goal._id %>">View Chart</a>
        </div>
        <% }) %>
      </div>
    </main>
    <%- include('../includes/footer.ejs') %>
  </div>
</body>

</html>