<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../includes/header.ejs') %>
</head>

<body>
  <%- include('../includes/nav.ejs') %>
  <main class="container">
    <%- include('../includes/messages.ejs') %>
    <a href="/goals/dashboard" class="mt-3 btn btn-dark"><small>Back to Dashboard</small></a>
    <h1 class="text-center">Goals</h1>
    <a href="/goals/add-goal" class="btn btn-dark"><strong>+</strong></a>
    <% goals.forEach((goal) => { %>
    <div class="card mt-3 goal-button" style="background-color: <%= goal.backgroundColor %>">
      <a class="btn" href="/goals/goal-chart/<%= goal._id %>">
        <div class="card-body text-center">
          <h4>
            <%= goal.goalName %>
          </h4>
        </div>
      </a>
    </div>
    <% }) %>
  </main>
  <%- include('../includes/footer.ejs') %>
</body>

</html>