<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../includes/header.ejs') %>
</head>

<body>
  <div class="super-container">
    <%- include('../includes/nav.ejs') %>
    <main class="container">
      <%- include('../includes/messages.ejs') %>
      <div class="super-container">
        <h1>
          <%= goal.goalName %>
        </h1>
        <canvas id="myChart" width="800" height="400"></canvas>
        <div id="chartDiv"></div>

      </div>
    </main>
    <%- include('../includes/footer.ejs') %>
  </div>

  <!-- Presenting data for js to grab -->
  <input id="goalName" type="hidden" value="<%= goal.goalName %>">
  <input id="chartType" type="hidden" value="<%= goal.chartType %>">
  <input id="daysToTrack" type="hidden" value="<%= goal.daysToTrack %>">
  <input id="borderColor" type="hidden" value="<%= goal.borderColor %>">
  <input id="backgroundColor" type="hidden" value="<%= goal.backgroundColor %>">
  <input id="startDate" type="hidden" value="<%= goal.startDate %>">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
  <script src="/js/goalChart.js"></script>
</body>

</html>