<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../includes/header.ejs') %>
</head>

<body>
  <%- include('../includes/nav.ejs') %>
  <main class="container">
    <%- include('../includes/messages.ejs') %>
    <a href="/goals/goal-list" class="btn btn-dark mt-3"><small>Back to Goals</small></a>
    <h1 class="text-center">
      <%= goal.goalName %>
    </h1>
    <canvas id="myChart" width="800" height="400px"></canvas>

    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header text-center" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-dark collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
              aria-expanded="false" aria-controls="collapseThree">
              Add Data Point
            </button>
            <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
              aria-controls="collapseOne">
              Filters
            </button>
            <button class="btn btn-dark collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="false" aria-controls="collapseTwo">
              Controls
            </button>
            <form action="/goals/delete-goal" method="POST">
              <button class="btn btn-danger float-right"><i class="fas fa-times"></i></i></button>
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <input type="hidden" name="goalId" id="goalId">
            </form>
          </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <hr>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="beginDate">From</label>
                  <input class="form-control" type="date" id="beginDate">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="endDate">To</label>
                  <input class="form-control" type="date" id="endDate">
                </div>
              </div>
            </div>
            <button id="applyFilterBtn" class="btn btn-dark">Apply</button>
            <button id="resetFilterBtn" class="btn btn-dark">Reset</button>
          </div>
        </div>
      </div>
      <div class="card">
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <hr>
            <div class="row">
              <div class="col-md-6">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" checked="checked" id="dataPointToggle">
                  <label class="form-check-label" for="defaultCheck1">
                    Toggle Data Points
                  </label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="formControlRange">Max Y Axis</label>
                  <input type="range" min="0" max="24" step="1" value="24" class="form-control-range" id="yAxisRange">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            <form action="/goals/goal/add-data/<%= goal._id %>" method="POST" class="form-center">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <div class="form-group">
                <label for="setDate">Date</label>
                <input class="form-control" name="setDate" type="date" id="setDate">
              </div>
              <div class="form-group">
                <label for="hours">
                  <%= goal.goalType %></label>
                <input class="form-control" type="number" name="hours" placeholder="0" step="0.01" id="dataPointInput">
              </div>
              <div class="text-center">
                <button class="btn btn-dark" type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>

  <input type="hidden" id="goalName" value="<%= goal.goalName %>">
  <input type="hidden" id="startDate" value="<%= goal.startDate %>">
  <input type="hidden" id="goalType" value="<%= goal.goalType %>">
  <input type="hidden" id="goalTarget" value="<%= goal.goalTarget %>">
  <input type="hidden" id="chartType" value="<%= goal.chartType %>">
  <input type="hidden" id="daysToTrack" value="<%= goal.daysToTrack %>">
  <input type="hidden" id="dataSet" value="<%= JSON.stringify(goal.dataSet) %>">
  <input type="hidden" id="backgroundColor" value="<%= goal.backgroundColor %>">
  <input type="hidden" id="borderColor" value="<%= goal.borderColor %>">

  <%- include('../includes/footer.ejs') %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-range/4.0.1/moment-range.js"></script>
  <script src="/js/goalChart.js"></script>

</body>

</html>